html,body{
	margin:0;
	padding:0;
	overflow-x:hidden;
	font-family: Georgia, serif;
	transition:all .5s;
}

a{
	text-decoration: none;
	color:black;
}

.color{
	background: #d0f1f5;
	color:black;
}


/*dark mode--------------------------------------*/

/*======================================= HEADER*/

#header{
	position:fixed;
	z-index:100;
	top:0;
	background-color:#6ee0fa;
}

/*--------logo*/
.logo img{
	padding-top:12px;
	padding-left:20px;
	padding-bottom:12px;
	width:250px;
	height:120px;
}

.logo{
	float:left;
}

/*-------list_item*/
#nav{
	padding:0px 30px;
	width:100%;
	margin:0px auto;
}

#nav a{
	color:black;
	border-radius:8px;
}

#navbar li{
	text-align: center;
}

#nav a:hover{
	background-color: rgba(255,255,255,0.7);
	border-radius:8px;
}

#nav li{
	padding:5px;
	width:100%;
}

#active{
	background-color: rgba(255,255,255,0.7);
	border-radius:8px;
}

/*--------------------------switcher to dark theme*/
#icon_switcher{
	font-size: 30px;
	right:100px;
	top:9px;
	position: absolute;
}

.switcher{
	margin-top: 113px;
	margin-bottom: 10px;
	position: relative;
	height: 50px;
	padding:5px;
}


.box{
	right:10px;
	width:80px;
	height:40px;
	border:4px solid #252525;
	border-radius: 50px;
	position: relative;
	float:right;
}

#input{
	position: absolute;
	width:100%;
	height: 100%;
	cursor:pointer;
	outline: none;
	-webkit-appearance:none;
	z-index:1;
}

.circle{
	position: absolute;
	top:2px;
	left:2px;
	width:48%;
	height: 28px;
	background: rgb(48,48,48);
	border-radius: 50px;
	z-index:0;
	transition: all .5s;
}

.circle::before{
	content: '';
	position: absolute;
	width:10px;
	height: 10px;
	background:rgb(85,85,85);
	border-radius: 50px;
	transition: all .5s;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#input:checked ~ .circle{
	transform:translateX(100%);
}

#input:checked ~ .circle::before{
	
	background: #ffff00;
	box-shadow: 0 0 50px 3px #ffff00;
}

/*-------------------------------------------content*/
.body_content{
	margin-top: 120px;
}

.content_title{
	background-color:#21cbde;
	padding:10px 10px;
	text-align:center;
	width:100%;
	color:white;
	font-weight: bold;
	cursor:default;
}

#img{
	font-size:55px;
}

/*------content_1*/

.content_menu{
	display: flex;
  	flex-wrap: wrap;
  	align-content:center;
  	width:100%;
}

.content_1{
	background-color:#49f2e4;
	width:400px;
	height:253px;
	margin:10px auto;
	text-align:center;
	cursor:default;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transition:.4s;
	border-radius:20px;
}

.content_1:hover{
	transform:scale(1.05);
	transition:.4s;
}

.details{
	padding:20px 20px;
	margin:auto;
}

.details p{
	line-height:25px; 
}

/*-----content_2*/

.parallax{
	background-image: url("image/img_index.jpg");
	min-height: 400px; 

	background-attachment: fixed;
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}



.elementor{
		opacity: 0.45;
		position:absolute;
		top:0;
		left:0;
		box-sizing: border-box;
		width:100%;
		height: 100%;
		background-color: white;

}

.caption{
	margin:0px auto;
	padding: 100px 0px;
	text-align: center;
	width:100%;
	cursor:default;
}

.caption_child_1{
	position: relative;
}

.caption_child_1 a{
	text-decoration: none;
}

.caption_child_1 h3{
	font-size:30px;
	color: white;
	font-weight:bolder;
	-webkit-text-stroke: 2px black;
	max-width:100%;
	text-align: center;
}

.caption_child_1 p{
	font-size:17px;
	font-weight: bold;
}


#join{
	background-color:#2f5491;
	padding: 20px;
	border-radius: 40px;
	color:white;
}

#join i{
	padding-left: 2px;
}

#join:hover{
	background-color: #3770cc;
}

.literature{
	margin:0px auto;
	text-align: center;
}

.literature a{
	text-decoration: none;
}

.literature_title{
	background-color:#21cbde;
	padding:5px 0px;
	text-align:center;
	width:100%;
	color:white;
	font-weight: bold;
	cursor:default;
}

.lcontent{
	display: flex;
  	flex-wrap: wrap;
  	align-content:center;
  	width:100%;
  	flex-direction: row;
  	margin:15px 0px;

}

.literature_content{
	margin:5px auto;
	text-align: center;
	background-color:#f1f1f1;
	width:400px;
	height:250px;
	overflow: hidden;
}

.image_literature{
	position:relative;
}

.literature_content:hover #img_lcontent{
	transform:scale(1.05);
	transition: .4s;
}

#img_lcontent{
	width:400px;
	height:250px;
	transition:.4s;
	opacity: 0.85;
}

.title_content_1{
	position:absolute;
	top: 80%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	cursor:default;
  	width:400px;
  	background-color: rgba(255,255,255,0.6);
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .lcontent {
    flex-direction: column;
  }
}

#more{
	background-color: #2f5491;
	color:white;
	padding:10px;
	border-radius:40px;
}

/*----------------------------------FOOTER*/
.footer{
	margin-top:20px;
	text-align:center;
	background-color:#6ee0fa;
	height: 120px;
	width:100%;
	padding: 35px;
}

.socmed{
	text-align:center;
	
}

#socmed{
	background:black;
	color:white;
	padding:8px;
	width:40px;
	border-radius:10px;
	font-size:20px;
	text-align: center;
}

#socmed:hover{
	color:black;
	background-color:white;
}

.copyright p{
	font-size: 12px;
	padding-top:5px;
}

